teste.html
teste_anuncio_especifico.php
teste_estoque_ml.php
teste_pedido_especifico.PHP
teste_produto_tiny.php
worker2.php
tarefa_financeira_historica.php
tarefa_historico_em_lotes.php
analise
analise
analise (1)
financeiro2.php
historico2.php
proxima_data_reversa.txt
